body.page-homepage{
	/**color:#914633;*/
	/**color:#5B493F  ; 3*/
	color:#000000;
}

#site-title {
	margin:20px 0 20px;
	
}

#site-title a {
	font-size:1.4em;
	color:#FDF1DB;
	margin-top:10px;
}

#main-menu {
    padding-top: 10px;
}

#main-menu a {
    color: #fff;
    display: block;
    font-weight: 500;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
}

#main-menu li:hover > a, #main-menu li a.active{
	background-color:#FDF1DB;
	color: #34495E;
	font-weight:bold;
}

.panel-panel h2 {
	/**color:#914633; #C9974D;*/
	color: #C9974D;
	font-weight:bold;
	/**color:#763A7A; 4**/
}

article h2{
	margin-bottom:5px;
	font-size:15px;
}

.node h2.title, .page-title  .node h2.title, .page-title{
	margin-bottom:5px;
	font-size:17px;
	/**color: #23525a; 3*/
	/**color: #0288AD;*/
	color: #C9974D;
	font-family: 'Calibri', serif;
	font-weight:bold;
	
}

.node h2.title a:hover, .page-title  .node h2.title a:hover, .page-title a:hover{
	color: #76C5EC;
}

.pane-content p {
	margin-bottom:10px;
	/**color:#914633;**/
	/**color:#5B493F; 3**/ 
	color: #000000;
	
}

.node h2.title a{
	margin-bottom:5px;
	font-size:14px;
	/**color: #23525a; 3*/
	color:#23525a;
}


.node-article p{
	margin-bottom:5px;
}

article.node{
	margin-top:5px;
	margin-bottom:5px;
}

#footer .copyright{
	text-align:center;
	float:none;
	max-width:1024px;
}

.faq-qa a{
	/**color:#914633;b*/
	/**color: #23525a;*/
	color:#23525a;
}

.faq-answer {
	margin-top:5px;
}

a {
	color:#23525a;
	font-family: 'Calibri', serif;
	font-weight:bold;
}

.panel-panel img{
	float:right;
	margin-right:-10px;
	margin-top:-42px;
}

.view-tmas caption {
	font-size:2.0em;
	text-align:left;
	margin-bottom: 10px;
}

.view-tmas table td,
.view-tmas table th {
	vertical-align:top;
}

.view-tmas table td.active {
	background-color:#fff;
}

.view-tmas td {
	padding-top:2px;
	padding-bottom:2px;
}

.view-tmas td.views-field {
	font-size:0.8em;
}

.view-steering-committee h3,
.view-working-group h3,
.view-rep h3,
.view-tmas  h3{
	padding:10px 0;
	 color: #666;
	 font-weight:bold;
}

.view-tmas .field-content{
	font-size:0.9em;
}

.view-rep td {
	width:50%;
}
.view-rep,
.view-tmas{
font-family: "Calibri",serif;
}

.region .view-rep  ul.menu li, 
.region .view-rep  ul.links li,
.region .view-rep .item-list ul li {
	padding-left: 0px;
}

.view-rep th,.view-rep tr,.view-rep td{
	vertical-align:top;
}	 

.view-rep img{
	padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  margin-bottom:6px;
}

body {
  font-family: 'Calibri', serif;
  line-height: 160%;
  color: #666;
  font-size:16px;
  background: url('../images/body_bg.png');
}

.theme-default .nivo-caption p,
.theme-default .nivo-caption h3,
.theme-default .nivo-caption h2,
.theme-default .nivo-caption h1{
  font-family: 'Calibri', serif;
  color: #333;
}

/**.bgimg {
    background-image: url('/sites/default/files/network.jpg');
	opacity: 0.5;
}*/

/* 	Extra small devices Phones (=500px)  */
@media only screen and (min-width:500px) and (max-width:768px){
	.panel-3col-33-stacked .panel-col-last {
		float: left;
		width: 100%;
		clear:both;
	}

	.panel-3col-33-stacked .panel-col{
		float: left;
		width: 100%;
		clear:both;
	}

	.panel-3col-33-stacked .panel-col-first{
		float: left;
		width: 100%;
		clear:both;
	}
	
	#site-title a {
		font-size:1.1em;
		margin-top:20px;
	}


}

/* 	Extra small devices Phones (<500px)  */
@media only screen and (max-width: 500px){


	.panel-3col-33-stacked .panel-col-last {
		float: left;
		width: 100%;
		clear:both;
	}

	.panel-3col-33-stacked .panel-col{
		float: left;
		width: 100%;
		clear:both;
	}

	.panel-3col-33-stacked .panel-col-first{
		float: left;
		width: 100%;
		clear:both;
	}
	#site-title a {
		font-size:1.0em;
		margin-top:20px;
	}

}